@model FGW_Management.Models.Submission

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-area="" asp-controller="Home">Home</a></li>
        <li class="breadcrumb-item"><a asp-action="Index" asp-area="Admin" asp-controller="Submissions">Topic List</a></li>
        <li class="breadcrumb-item active" aria-current="page">Create</li>
    </ol>
</nav>

<h2>Create Topic</h2>

<div class="@(String.IsNullOrEmpty(ViewBag.Error) ? "d-none" : "")">@ViewBag.Error</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationDay" class="control-label"></label>
                <input asp-for="CreationDay" class="form-control" />
                <span asp-validation-for="CreationDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubmissionDeadline_1" class="control-label"></label>
                <input asp-for="SubmissionDeadline_1" class="form-control" />
                <span asp-validation-for="SubmissionDeadline_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubmissionDeadline_2" class="control-label"></label>
                <input asp-for="SubmissionDeadline_2" class="form-control" />
                <span asp-validation-for="SubmissionDeadline_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-primary"><i class="fas fa-arrow-left"></i> Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
