@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" type="site.css" href="~/css/site.css" />
</head>

<!-- Home section -->
<section id="home" class="container-fluid">

    <div class="row align-items-center min-vh-100 content">

        <div class="col-md-8 ml-md-5 text-center text-md-left">

            <h2 class="thong">online</h2>
            <h1>education</h1>
            <h3>learn online from home</h3>

            <a href="#course" class="btn">enroll now >></a>

            <div class="icons">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>

        </div>

    </div>
</section>